{% extends 'game_interface/base.html' %}


{% block title %}How to Play{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">How to Play</h2>
    
    <div class="card mb-4">
        <div class="card-body">
            <h4>Getting Started</h4>
            <ol>
                <li>Create an account or log in</li>
                <li>Choose a game from the Games page</li>
                <li>Start a new game session</li>
                <li>Share the game link with your friends</li>
            </ol>
        </div>
    </div>
    
    <div class="card mb-4">
        <div class="card-body">
            <h4>Playing the Game</h4>
            <ol>
                <li>Click on the game piece you want to move</li>
                <li>Click on the destination where you want to place it</li>
                <li>Confirm your move</li>
                <li>The robot will execute your move on the physical board</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}